.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
section{
    height: 500px;
}
.single-experience{
    box-shadow: 10px 10px 40px slateblue;
    border-radius: 5px;
    height: 60%;
    background-color: white;
}

#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, slateblue, aqua);
    border-image-slice: 1;
  }
  #baby-stack{
    border-left: 7px solid;
  border-image: linear-gradient(180deg, aqua, slateblue);
  border-image-slice: 1;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(64, 64, 228), slateblue);
    padding: 10px 20px;
    border-radius: 5px;
    color: white

}

